{
  "env": {
    "jest": true,
    "es6": true
  },
  "globals": {
    "fetchMock": true,
    "apiClientMock": true,
    "setImmediate": true,
    "toJson": true,
    "beforeAll": true,
    "describe": true,
    "expect": true,
    "it": true,
    "mount": true,
    "shallow": true,
    "mockOnce": true,
  },
  "rules": {
    "react/prop-types": "off",
    "max-len": "off"
  },
}
