{
  "env": {
    "jest": true,
    "es6": true
  },
  "globals": {
    "setImmediate": true,
    "toJson": true,
    "beforeAll": true,
    "describe": true,
    "expect": true,
    "it": true,
    "mockApi": true
  },
  "rules": {
    "react/prop-types": "off",
    "max-len": "off",
    "no-import-assign": "off",
    "react/display-name": "off",
    "no-console": "off"
  }
}
