.pf-v5-c-form__helper-text {
  &.pf-m-disabled {
    color: var(--pf-global--disabled-color--100);
  }
}

.src-c-warning-icon {
  fill: var(--pf-global--warning-color--100);
  margin-right: var(--pf-global--spacer--sm);
}

.src-c-aws-grid {
  text-align: left;
}
