.pf-v6-c-form__helper-text {
  &.pf-m-disabled {
    color: var(--pf-t--color--gray--50);
  }
}

.src-c-warning-icon {
  margin-right: var(--pf-t--global--spacer--sm);
}

.src-c-aws-grid {
  text-align: left;
}
