.list-align-top {
  margin-top: calc(var(--pf-v5-global--spacer--xl) * -1);
}

.list-align-left {
  margin-left: calc(var(--pf-v5-global--spacer--xl) * -1);
}

.export-table {
  margin-left: calc(var(--pf-v5-global--spacer--xl) * 1.5);
  margin-top: var(--pf-v5-global--spacer--md);
}

.cluster-id-question-button {
  padding-right: 3px;
  padding-left: 5px;
}

.src-wizard--all-required-text {
  color: var(--pf-v5-global--disabled-color--100);
}
