.sources-integrations {
  .pf-v5-c-card__body {
    padding: 8px 0 0 0;
  }
  .pf-v5-c-expandable-section {
    border: 1px solid var(--pf-v5-global--BackgroundColor--200);
    border-top: 0;
    padding-left: 16px;
  }
  overflow-y: auto;
  .pf-v5-c-list {
    &__item-icon {
      height: 20px !important;
      width: 20px !important;
      margin-top: 0;
    }
  }
  .pf-v5-c-tile {
    --pf-v5-c-tile--PaddingTop: 1rem;
    --pf-v5-c-tile--PaddingBottom: 1rem;
    --pf-v5-c-tile--PaddingRight: 1rem;
    --pf-v5-c-tile--PaddingLeft: 1rem;
    &__icon {
      height: 30px;
      width: 30px;
    }
  }
}