@import './src/Utilities.scss';

// @import "~@red-hat-insights/insights-frontend-components/index.css";
// @import "~@red-hat-insights/insights-frontend-components/Utilities/_all";

@import '~patternfly/dist/css/patternfly.css';
@import '~patternfly/dist/css/patternfly-additions.css';
@import '~patternfly-react/dist/css/patternfly-react.css';
@import '~@patternfly/patternfly-next/patternfly.css';
@import '~@red-hat-insights/insights-frontend-components/components/Notifications.css';

.pf-l-gallery {
  padding-bottom: 20px
  /* padding-bottom: var(--pf-c-form--section--PaddingBottom) */
}

.ins-l-content {
  background-color: var(--pf-global--BackgroundColor--300)
}

/* styling for "Add source" modal */
.add-source {
  border: none !important;
  min-width: 500px;
  min-height: 800px !important;
  .pf-c-modal-box__header {
    .pf-c-modal-box__header-title {
      color: white;
    }
    background-image: url('../static/images/pfbg_576.jpg');
  }
  .pf-c-modal-box__footer {
    display: none;
  }
}
