@import '~@redhat-cloud-services/frontend-components-notifications/index.css';

.ins-c-sources__sources-placeholder-loader {
  margin: 0px;
  padding: 0px;
  min-height: 500px;
}

.ins-c-source__delete-icon {
  color: var(--pf-global--warning-color--100);
}

.ins-c-sources__dialog--spinnerContainer {
  min-height: 128px;
  text-align: center;
}

.ins-c-sources__row-vertical-centered {
  td {
    vertical-align: middle !important;
  }
}

.ins-c-sources__help-cursor {
  &:hover {
    cursor: help;
  }
}

.ins-c-sources__availability-ok {
  color: var(--pf-global--success-color--100);
}

.ins-c-sources__availability-partially {
  color: var(--pf-global--warning-color--100);
}

.ins-c-sources__availability-not-ok {
  color: var(--pf-global--danger-color--100);
}

.ins-c-sources__availability-unknown {
  color: var(--pf-global--icon--Color--light);
}

.clickable {
  cursor: pointer;
}

.ins-c-sources__pagination-loader-wrapper {
  width: 200px;
}

.ins-c-sources__empty-state {
  // should be 64px from the top, content has padding --pf-global--spacer--lg, so we have to calculate the rest of it
  padding-top: calc(0px - var(--pf-global--spacer--lg) + 64px) !important;
  max-width: 576px;
}

.ins-c-sources__disabled-drodpown-item {
  pointer-events: auto !important;
}

@media (max-width: 768px) {
  .ins-l-content {
    padding: 0 !important;
  }

  .top-pagination {
    display: none;
  }

  .ins-c-sources__row-vertical-centered {
    border-bottom: 16px solid var(--pf-c-table--responsive--BorderColor) !important;
  }

  .pf-c-table {
    tbody {
      border-top: 16px solid var(--pf-c-table--responsive--BorderColor) !important;
    }
  }

  .ins-c-primary-toolbar__pagination {
    width: 100%;
  }

  .bottom-pagination {
    .pf-c-options-menu, .pf-c-pagination__nav {
      display: flex !important;
      visibility: visible !important;
    }
  }
}

.ins-c-sources__detail-page {
  .card {
    box-shadow: none !important;
  }

  .summary-card {
    cursor: initial !important;
    background-clip: content-box;
    height: calc(100% - 48px); // margin 2x24px
  }

  .applications-card {
    min-height: 100%;
    background-clip: content-box;
  }

  .empty-state-body {
    max-width: 536px;
  }

  .pf-c-empty-state.pf-u-mt-4xl {
    margin-top: 0px !important;
  }
}

.ins-c-sources__info-card {
  .text {
    font-size: 14px;
  }

  .custom-icon {
    height: 1em;
    width: auto;
    vertical-align: -2px;
  }
}

.ins-c-sources__cloud-empty-state-card {
  box-shadow: none !important;

  .catalog-link {
    font-size: 14px;
  }

  .cloud-footer {
    text-align: center;
  }

  .provider-tiles {
    text-align: center;

    .tile {
      width:  284px;
    }
  }

  .provider-icon {
    height: 40px;
  }

  .redhat-icon {
    height: 50px;
  }

  .disabled-tile-with-tooltip {
    display: inline-block;

    .provider-icon {
      opacity: 0.5;
    }

    .redhat-icon {
      opacity: 0.5;
    }
  }
}

.ins-c-sources__hide-me {
  opacity: 0;
}

.ins-c-sources__switch-description {
  font-size: 14px;
  color:	#6a6e73;
  line-height: 24px;
}
