@import '~@redhat-cloud-services/frontend-components-notifications/index.css';

// background for integrations tabs
.src-c-section-main {
  height: 100%;
  background: var(--pf-v5-global--BackgroundColor--200);
}

.src-c-bullseye__placeholder-loader {
  margin: 0;
  padding: 0;
  min-height: 500px;
}

.src-c-delete-icon {
  color: var(--pf-v5-global--warning-color--100);
}

.src-c-row-vertical-centered {
  td {
    vertical-align: middle !important;
  }
}

.src-m-help-cursor {
  &:hover {
    cursor: help;
  }
}

.src-c-detail-page {
  &-ok {
    color: var(--pf-v5-global--success-color--100);
  }
  &-partially {
    color: var(--pf-v5-global--warning-color--100);
  }
  &-not-ok {
    color: var(--pf-v5-global--danger-color--100);
  }
  &-unknown {
    color: var(--pf-v5-global--icon--Color--light);
  }
}

.src-m-clickable {
  cursor: pointer;
}

.src-m-dropdown-item-disabled {
  pointer-events: auto !important;
}

@media (max-width: 768px) {
  .ins-l-content {
    padding: 0 !important;
  }

  .top-pagination {
    display: none;
  }

  .src-c-row-vertical-centered {
    border-bottom: 16px solid var(--pf-v5-c-table--responsive--BorderColor) !important;
  }

  .pf-v5-c-table {
    tbody {
      border-top: 16px solid var(--pf-v5-c-table--responsive--BorderColor) !important;
    }
  }

  .ins-c-primary-toolbar__pagination {
    width: 100%;
  }

  .bottom-pagination {
    .pf-v5-c-options-menu, .pf-v5-c-pagination__nav {
      display: flex !important;
      visibility: visible !important;
    }
  }
  .ins-c-table-empty-state.pf-m-grid-lg.pf-v5-c-table {
    [data-label] {
        --pf-v5-c-table--cell--hidden-visible--Display: 0;
    }
    tr:first-of-type {
        > td::before {
            display: none;
        }
    }
  }
}

.src-c-detail-page {
  .pf-v5-c-card {
    box-shadow: none !important;
  }

  .src-c-card-summary {
    cursor: initial !important;
    background-clip: content-box;
    height: calc(100% - 48px); // margin 2x24px
  }

  .src-c-card-applications {
    min-height: 100%;
    background-clip: content-box;
  }

  .src-c-empty-state__body {
    max-width: 536px;
  }

  .pf-v5-c-empty-state.pf-v5-u-mt-4xl {
    margin-top: 0 !important;
  }
}

form.src-c-uuid {
  text-align: left;
  .pf-v5-c-form__group-label {
    padding: 0;
  }
}

.src-c-card-info {
  .text {
    font-size: var(--pf-v5-global--FontSize--sm);
  }
}

.src-c-card__cloud-empty-state {
  box-shadow: none !important;

  .catalog-link {
    font-size: var(--pf-v5-global--FontSize--sm);
  }

  .provider-tiles {
    text-align: center;

    .tile {
      width:  284px;
    }
  }

  .provider-icon {
    height: 40px;
  }

  .redhat-icon {
    height: 50px;
  }

  .disabled-tile-with-tooltip {
    display: inline-block;

    .provider-icon {
      opacity: 0.5;
    }

    .redhat-icon {
      opacity: 0.5;
    }
  }
  .cloud-footer {
    text-align: center;
  }
}

.src-c-checkbox-with-icon {
  display: flex;

  // for some reason popover does not work properly in wizard
  .pf-v5-c-popover {
    visibility: initial;
    pointer-events: initial;
  }
}

.src-c-application_flex {
  display: flex;
  align-items: center;
}

.src-c-dropdown__application_kebab {
  max-height: 32px;
  margin-left: auto;
}

.src-c-card-info__header {
  font-weight: 600;
  color: var(--pf-v5-global--palette--blue-600);
}

.src-c-applications_form {
  row-gap: var(--pf-v5-global--spacer--sm);
}

.src-c-application_switch {
  min-width: 50%;
}
