@import './src/utilities.scss';
@import '~@redhat-cloud-services/frontend-components-notifications/index.css';
@import '~@redhat-cloud-services/frontend-components-sources/index.css';

.pf-l-gallery {
  padding-bottom: 20px
  /* padding-bottom: var(--pf-c-form--section--PaddingBottom) */
}

.pf-c-backdrop > .pf-l-bullseye > .pf-l-bullseye {
  flex: 1
}

.ins-c-sources__sources-placeholder-loader {
  margin: 0px;
  padding: 0px;
  min-height: 500px;
}

.ins-c-sources__dialog--warning {
  .ins-c-source__delete-icon {
    color: var(--pf-global--warning-color--100);
  }
}

.ins-c-sources__dialog--spinnerContainer {
  min-height: 128px;
  text-align: center;
}

.ins-c-sources__row-vertical-centered {
  td {
    vertical-align: middle !important;
  }
}

.ins-c-sources__help-cursor {
  &:hover {
    cursor: help;
  }
}

.ins-c-sources__edit-field-group {
  min-height: 36px;
  display: table;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  .ins-c-sources__edit-field-group-text-content {
    display: table-cell;
    vertical-align: middle;
    color: var(--pf-global--disabled-color--100);

    &.clickable {
      &:hover {
        color: var(--pf-global--Color--100);
      }
    }
  }
}

.ins-c-sources__edit-field-value {
  display: inline-block;
  max-width: calc(100% - 24px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.ins-c-sources__availability-ok {
  color: var(--pf-global--success-color--100);
}

.ins-c-sources__availability-partially {
  color: var(--pf-global--warning-color--100);
}

.ins-c-sources__availability-not-ok {
  color: var(--pf-global--danger-color--100);
}

.ins-c-sources__availability-unknown {
  color: var(--pf-global--icon--Color--light);
}

.clickable {
  cursor: pointer;
}

.ins-c-sources__pagination-loader-wrapper {
  width: 200px;
}

.ins-c-sources__icon {
  min-width: 32px;
  min-height: 32px;
  width: 32px;
  height: 32px;
}
