@import './src/Utilities.scss';
@import '~@redhat-cloud-services/frontend-components-notifications/index.css';
@import '~@redhat-cloud-services/frontend-components-sources/index.css';

.pf-l-gallery {
  padding-bottom: 20px
  /* padding-bottom: var(--pf-c-form--section--PaddingBottom) */
}

.pf-c-backdrop > .pf-l-bullseye > .pf-l-bullseye {
  flex: 1
}

/* styling for sources placeholder table */
.sources-placeholder-table {
  background: white;
  width: 100%;
  border: 1px solid rgb(204,204,204);
  border-collapse: collapse;
  td {
    display: block;
    padding: 10px;
  }
}

.ins-c-sources__dialog--warning {
  .ins-c-source__delete-icon {
    color: var(--pf-global--warning-color--100);
  }
}

.ins-c-sources__dialog--spinnerContainer {
  min-height: 64px;
  text-align: center;
}
